.nav-logohome {
    display: flex;
    width: 80px;
    height: 35px;
    margin-left: 20px;
    margin-top: 10px;
  }
  
  .header-text {
    margin-top: 1rem;
    margin-left: 3rem;
  }
  
  .app-bar-background{
    background: white;
  }
  
  .logo-size{
    margin-top: 0.5rem;
    height:5rem;
    width:6rem;
  }
  
  .sub-section-report {
    font-size: 15px;
    font-weight: 550;
    color: grey;
    padding-left: 0.938rem;
    position: relative;
    top: 3.75rem;
  }
  
  .sub-section-monitoring {
    font-size: 15px;
    font-weight: 550;
    color: grey;
    padding-left: 1.563rem;
    position: relative;
    top: 3.75rem;
  padding-bottom: 5px;
  }
  
  .menu-items {
    padding-left: 1.3rem !important;
    top: 6.3rem ;
    &:hover {
      background-color:  #ffa500d4;
    }
  }

  
  .headerbutton {
    align-items: justify-end;
  }
  