.integratedportal-container {
  .header {
    padding: 20px;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    
  }
  .header-text {
    margin-left: -1.5rem;
  }
  .form-container {
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 11px;
    padding-top: 2.3rem;
    
  }
  .header {
    padding: 10px;   
    background: #ffb42b;
    margin-top: 0;
  }
  .paper {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    background-color: white;
    border-radius: 10px;
  }
  .form-group {
    margin-bottom: 1.8rem;
  }
  .input-wrapper {
    margin-bottom: 13px;
  }
  .button-wrapper {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 10px;
  }
  .login-button {
    border-radius: 12px;
    width: 100% !important;
    height: 54px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    color: white;
    background-color: #4B4B4B;
    &:hover {
      background-color:  #ffa500d4;
      box-shadow: none;
    }
    &:focus {
      background-color:   #ffa500d4;
    }
  }
}

.common-button{
  border-radius: 12px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    color: white;
    background-color: #4B4B4B !important;
    &:disabled {
      cursor: not-allowed;
      pointer-events: none;
      background-color: #4B4B4B !important;
      opacity: 0.5;
    }
    &:hover {
      background-color: #ffa500d4 !important;
      box-shadow: none;
    }
  }

.submit-button{
  width: 13rem;
  height: 54px;
  font-size: 16px !important;
  font-weight: 500 !important;
  margin-bottom: 10px !important;
  color: white !important;
  background-color: #4B4B4B !important;
  &:hover {
    background-color: #ffa500d4 !important;
    box-shadow: none;
  }
  &:disabled {
    background-color: #4B4B4B!important;
    box-shadow: none;
    opacity: 0.5;
  }
}

.full-width-height{
  width: 100%;
  height:100%;
}

.paper-trainee{
  width:50%;
}

.paper-details {
  width:50%;
}
.signatureHeight{
padding: 5rem 1rem 2rem 2rem;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 10px;
  }
}
th.MuiTableCell-root.MuiTableCell-head.MuiTableCell-sizeMedium.mui-style-1ygcj2i-MuiTableCell-root {
  border: 1px solid;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.mui-style-sghohy-MuiButtonBase-root-MuiButton-root {
  margin-top: 10px;
}

.searchButton span {
  margin-right: 7rem;
  padding-left: 10px;
}
.searchButton {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
  margin: 0;
  width: 20rem;
  height: 2.5rem;
  line-height: 2.5rem;
}

.searchButton button{
  width: 12rem;
}
svg.MuiSvgIcon-root{
    margin-left: 13px;
    margin-right: 13px;
}
.searchButtonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchButtonContainer .submit-button {
  height: 37px;
  width: 6rem;
  margin-right:8px;
}

.searchButton .submit-button{
  margin-left: 10px;
  height: 2.5rem;
  width: 6.5rem;
}
.searchButton{
  margin-right: 20px;
}




/* Media Query */
/* Media Query */

@media screen and (max-width: 1200px) {

  table.MuiTable-root.mui-style-rqglhn-MuiTable-root{
    width:100%;
  }
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiTableContainer-root.mui-style-11xur9t-MuiPaper-root-MuiTableContainer-root{
    /* width:80%; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 7rem auto 0px;
    margin-top: 0;
  }
  .submit-button{
    width: 8rem;
    height: 2rem;
    font-size:12px !important;
  }
  h5.MuiTypography-root.MuiTypography-h5.MuiTypography-alignCenter.mui-style-ph2xsj-MuiTypography-root{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 3rem auto 0px;   
  }
  & .container {
    height: unset;
  }
  
}

@media screen and (max-width: 768px) {
 
  .container{
   margin: 1rem;
   margin-top: 7rem;   
  }
  h5.MuiTypography-root.MuiTypography-h5.MuiTypography-alignCenter.mui-style-ph2xsj-MuiTypography-root{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 3rem auto 0px;
   
  }
  .submit-button{
    width: 6rem;
    height: 2rem;
    font-size:10px !important;
  }
  table.MuiTable-root.mui-style-rqglhn-MuiTable-root{
    width:100%;
  }
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiTableContainer-root.mui-style-11xur9t-MuiPaper-root-MuiTableContainer-root{
    /* width:70%; */
     width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 3rem auto 0px;

  }
  & .container {
    height: unset !important;
  }
}


@media screen and (max-width: 595px) {

  table.MuiTable-root.mui-style-rqglhn-MuiTable-root,
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiTableContainer-root.mui-style-11xur9t-MuiPaper-root-MuiTableContainer-root
  {
    width:100%;
  }
   .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiTableContainer-root.mui-style-11xur9t-MuiPaper-root-MuiTableContainer-root{
    width:100%;
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 3rem auto 0px;

  }
  .buttonContainer{
    width: 400px;
  }
  svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.mui-style-gsx9sh-MuiSvgIcon-root{
    display: none;
  }
 .header-text button,span.MuiTouchRipple-root.mui-style-8je8zh-MuiTouchRipple-root
 {
    font-size: 13px;
    padding-right: 0;
    margin-right: 0;
  }
  button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textInherit.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-colorInherit.MuiButton-root.MuiButton-text.MuiButton-textInherit.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-colorInherit.headerbutton.mui-style-154t5dp-MuiButtonBase-root-MuiButton-root{
    font-size: 13px;
    padding-top: 16px;
  }
  & .container {
    height: unset !important;
  }
  .form-container {
    width: auto !important;
  }
}



@media screen and (max-width: 440px) {
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiTableContainer-root.mui-style-11xur9t-MuiPaper-root-MuiTableContainer-root
  {
    width:100%;
  }
  .buttonContainer{
    width: 100%;
  }
  svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.mui-style-gsx9sh-MuiSvgIcon-root{
    display: none;
  }
  button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textInherit.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-colorInherit.MuiButton-root.MuiButton-text.MuiButton-textInherit.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-colorInherit.headerbutton.mui-style-154t5dp-MuiButtonBase-root-MuiButton-root{
    font-size: 10px;
  }
  .header-text button,span.MuiTouchRipple-root.mui-style-8je8zh-MuiTouchRipple-root
  {
     font-size: 10px;
  }
  .logo-size {
    height: 3rem;
    width: 4rem;
}
.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.mui-style-hyum1k-MuiToolbar-root{
  padding-top: 1rem;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textInherit.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-colorInherit.MuiButton-root.MuiButton-text.MuiButton-textInherit.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-colorInherit.headerbutton.mui-style-154t5dp-MuiButtonBase-root-MuiButton-root{
  padding-top: 25px
}
& .container {
  height: unset;
}

.form-container {
  width: auto !important;
}
}


@media screen and (max-width: 375px) {

.header-text{
  margin-left: 17px !important;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textInherit.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-colorInherit.MuiButton-root.MuiButton-text.MuiButton-textInherit.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-colorInherit.headerbutton.mui-style-154t5dp-MuiButtonBase-root-MuiButton-root{
  padding-top: 32px;
}
}


.documentContainer {
  margin-top: 1rem;
  width: 100%;
}

.searchButtonMissReport {
  width: 20rem;
  display: flex;
  align-items: center; 
}


.chose-file-button {
  width: 7rem;
  height: 24px;
  font-size: 8px !important;
  font-weight: 500 !important;
  margin-bottom: 10px !important;
  color: white !important;
  background-color: #4B4B4B !important;
  &:hover {
    background-color: #ffa500d4 !important;
    box-shadow: none;
  }
  &:disabled {
    background-color: #4B4B4B!important;
    box-shadow: none;
    opacity: 0.5;
  }
}


.align-files {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
}

.add-attachements{
  margin-bottom: 0.9rem;
  padding-bottom: 0.9rem;
  padding-top: 1rem;
}


.file-name {
  width: 8rem;
  word-wrap: break-word;
}


.global-loader {
  margin: 0 auto;
}

.global-loader-colour {
  color: #dc143c;
}

@media screen and (max-width: 768px) {
  .align-files {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
  }
  .add-attachements{
    padding-bottom: 0.9rem;
  }
  .file-name {
    width: 20rem;
    word-wrap: break-word;
  }
}